# Created by .ignore support plugin (hsz.mobi)
.idea/workspace.xml
common/target/
dao/target/
manager-web/target/
pojo/target/
sellergoods-interface/target/
sellergoods-service/target/
shop-web/target/
target/
